/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2016, 12:49:27 AM
    Author     : Lee Peace
*/
.page-profile {padding-top:0px;}
.avatar-w {padding-top:20px;}
.avatar-w img {border:1px solid #bebebe; padding: 4px;}


.move-top {
    position: relative;

}

.move-top-label {
    position: absolute;
    left: 10px;
    top: 11px;
    transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    pointer-events: none;
    font-weight: normal;
    color: #000;
    font-family: "OpenSans", Arial;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 85%;
    white-space: nowrap;
}

.move-top-input {
    padding-left: 9px!important;
    color: #000;
    font-family: "OpenSans", Arial!important;
    font-size: 14px!important;
    padding-top: 15px!important;
    box-shadow: 0px !important;
    -webkit-box-shadow: 0px !important;
}

.move-top-label-active,
.move-top input:focus ~ label,
.move-top input:active ~ label {
    color: #333232;
    font-size: 10px;
    left: 10px !important;
    line-height: 11px;
    outline: 0 none;
    top: 4px !important;
    margin-bottom: 0;
    box-shadow: none;
    position: absolute;
    transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    pointer-events: none;
    font-weight: normal;
}

.move-top-input.active span.selectBox-label {
    opacity: 1;
}

