/*
Page-list plugin
http://wordpress.org/extend/plugins/page-list/
*/

/* default styles for [pagelist], [subpages], [siblings] */
.page-list .current_page_item > a {
	font-weight: bold; /* hilite active item */
}

/* default styles for [pagelist_ext] */
.page-list-ext {
	clear: both;
}
/* clearfix-hack */
.page-list-ext {
	*zoom: 1;
}
.page-list-ext:before, .page-list-ext:after {
	display: table;
	line-height: 0;
	content: "";
}
.page-list-ext:after {
	clear: both;
}
.page-list-ext .page-list-ext-item {
	clear: both;
	margin: 10px 0 30px 0;
}
.page-list-ext .page-list-ext-image {
	float: left;
	display: inline;
	margin: 5px 15px 15px 0;
}
.page-list-ext .page-list-ext-title {
	clear: none;
}

