/* 1. New Grid System */
.col-sms-1, .col-sms-2, .col-sms-3, .col-sms-4, .col-sms-5, .col-sms-6, .col-sms-7, .col-sms-8, .col-sms-9, .col-sms-10, .col-sms-11, .col-sms-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .col-sms-1, .col-sms-2, .col-sms-3, .col-sms-4, .col-sms-5, .col-sms-6, .col-sms-7, .col-sms-8, .col-sms-9, .col-sms-10, .col-sms-11, .col-sms-12 {
        float: left; }

    .col-sms-12 {
        width: 100%; }

    .col-sms-11 {
        width: 91.66666667%; }

    .col-sms-10 {
        width: 83.33333333%; }

    .col-sms-9 {
        width: 75%; }

    .col-sms-8 {
        width: 66.66666667%; }

    .col-sms-7 {
        width: 58.33333333%; }

    .col-sms-6 {
        width: 50%; }

    .col-sms-5 {
        width: 41.66666667%; }

    .col-sms-4 {
        width: 33.33333333%; }

    .col-sms-3 {
        width: 25%; }

    .col-sms-2 {
        width: 16.66666667%; }

    .col-sms-1 {
        width: 8.33333333%; }

    .col-sms-pull-12 {
        right: 100%; }

    .col-sms-pull-11 {
        right: 91.66666667%; }

    .col-sms-pull-10 {
        right: 83.33333333%; }

    .col-sms-pull-9 {
        right: 75%; }

    .col-sms-pull-8 {
        right: 66.66666667%; }

    .col-sms-pull-7 {
        right: 58.33333333%; }

    .col-sms-pull-6 {
        right: 50%; }

    .col-sms-pull-5 {
        right: 41.66666667%; }

    .col-sms-pull-4 {
        right: 33.33333333%; }

    .col-sms-pull-3 {
        right: 25%; }

    .col-sms-pull-2 {
        right: 16.66666667%; }

    .col-sms-pull-1 {
        right: 8.33333333%; }

    .col-sms-pull-0 {
        right: 0%; }

    .col-sms-push-12 {
        left: 100%; }

    .col-sms-push-11 {
        left: 91.66666667%; }

    .col-sms-push-10 {
        left: 83.33333333%; }

    .col-sms-push-9 {
        left: 75%; }

    .col-sms-push-8 {
        left: 66.66666667%; }

    .col-sms-push-7 {
        left: 58.33333333%; }

    .col-sms-push-6 {
        left: 50%; }

    .col-sms-push-5 {
        left: 41.66666667%; }

    .col-sms-push-4 {
        left: 33.33333333%; }

    .col-sms-push-3 {
        left: 25%; }

    .col-sms-push-2 {
        left: 16.66666667%; }

    .col-sms-push-1 {
        left: 8.33333333%; }

    .col-sms-push-0 {
        left: 0%; }

    .col-sms-offset-12 {
        margin-left: 100%; }

    .col-sms-offset-11 {
        margin-left: 91.66666667%; }

    .col-sms-offset-10 {
        margin-left: 83.33333333%; }

    .col-sms-offset-9 {
        margin-left: 75%; }

    .col-sms-offset-8 {
        margin-left: 66.66666667%; }

    .col-sms-offset-7 {
        margin-left: 58.33333333%; }

    .col-sms-offset-6 {
        margin-left: 50%; }

    .col-sms-offset-5 {
        margin-left: 41.66666667%; }

    .col-sms-offset-4 {
        margin-left: 33.33333333%; }

    .col-sms-offset-3 {
        margin-left: 25%; }

    .col-sms-offset-2 {
        margin-left: 16.66666667%; }

    .col-sms-offset-1 {
        margin-left: 8.33333333%; }

    .col-sms-offset-0 {
        margin-left: 0%; }
}
/* 2. Add clearfix in the grid system */
.row.add-clearfix > .col-xs-2:nth-child(6n+1) {
    clear: both; }

.row.add-clearfix > .col-xs-3:nth-child(4n+1) {
    clear: both; }

.row.add-clearfix > .col-xs-4:nth-child(3n+1) {
    clear: both; }

.row.add-clearfix > .col-xs-6:nth-child(2n+1) {
    clear: both; }

@media (min-width: 481px) {
    /* add clearfix in the grid system */
    .row.add-clearfix > .col-sms-2:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-sms-2:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-sms-2:nth-child(4n+1) {
        clear: none; }
    .row.add-clearfix > .col-sms-2:nth-child(6n+1) {
        clear: both; }

    .row.add-clearfix > .col-sms-3:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-sms-3:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-sms-3:nth-child(4n+1) {
        clear: both; }

    .row.add-clearfix > .col-sms-4:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-sms-4:nth-child(3n+1) {
        clear: both; }

    .row.add-clearfix > .col-sms-6:nth-child(2n+1) {
        clear: both; }

    /* h4.box-title {
        min-height: 66px;
    } */
}
@media (min-width: 768px) {
	.wsmenucontainer{
		position:relative
	}
	.logo{
		position:absolute;top:-7px;
	}

    /* add clearfix in the grid system */
    .row.add-clearfix > .col-sm-2:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-sm-2:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-sm-2:nth-child(4n+1) {
        clear: none; }
    .row.add-clearfix > .col-sm-2:nth-child(6n+1) {
        clear: both; }

    .row.add-clearfix > .col-sm-3:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-sm-3:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-sm-3:nth-child(4n+1) {
        clear: both; }

    .row.add-clearfix > .col-sm-4:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-sm-4:nth-child(3n+1) {
        clear: both; }

    .row.add-clearfix > .col-sm-6:nth-child(2n+1) {
        clear: both; }

}
@media (min-width: 992px) {
    .visible-mobile {
        display: none !important; }

    /* add clearfix in the grid system */
    .row.add-clearfix > .col-md-2:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-md-2:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-md-2:nth-child(4n+1) {
        clear: none; }
    .row.add-clearfix > .col-md-2:nth-child(6n+1) {
        clear: both; }

    .row.add-clearfix > .col-md-3:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-md-3:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-md-3:nth-child(4n+1) {
        clear: both; }

    .row.add-clearfix > .col-md-4:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-md-4:nth-child(3n+1) {
        clear: both; }

    .row.add-clearfix > .col-md-6:nth-child(2n+1) {
        clear: both; } }

@media (min-width: 1200px) {
    .container {
        padding-left: 0;
        padding-right: 0; }

    /* add clearfix in the grid system */
    .row.add-clearfix > .col-lg-2:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-lg-2:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-lg-2:nth-child(4n+1) {
        clear: none; }
    .row.add-clearfix > .col-lg-2:nth-child(6n+1) {
        clear: both; }

    .row.add-clearfix > .col-lg-3:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-lg-3:nth-child(3n+1) {
        clear: none; }
    .row.add-clearfix > .col-lg-3:nth-child(4n+1) {
        clear: both; }

    .row.add-clearfix > .col-lg-4:nth-child(2n+1) {
        clear: none; }
    .row.add-clearfix > .col-lg-4:nth-child(3n+1) {
        clear: both; }

    .row.add-clearfix > .col-lg-6:nth-child(2n+1) {
        clear: both; }
    .search-tab-content .icon-check {
        padding: 0 !important;
    }
    .search-tab-content .icon-check:after {
        background: none;
    }
}
/* 3. Styles for devices(>=992px and <=1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
	
	
    .container {
        padding-left: 0;
        padding-right: 0; }
    /* ul.slimmenu > li > a {
        font-size: 12px;
    }
    ul.slimmenu li.slimmenu-sub-menu a {
        padding-left: 10px !important;
        padding-right: 28px !important;
    }
    ul.slimmenu > li > ul a {
        font-size: 13px;
        
    }
    ul.slimmenu li .slimmenu-sub-collapser {
        right: 6px !important;
    } */

    /* .image-box .box > .details .price {
        font-size: 0.677em;
    } */
}
/* 4. Styles for devices(<=1199px) */
@media (max-width: 1199px) {
    [class^="col-lg-"].pull-left, [class^="col-lg-"].pull-right {
        float: none !important; }
}
/* 5. Styles for devices(<=991px ) */
@media (max-width: 991px) {
    #header .topnav {
        height: auto;
    }
    #header .topnav ul.quick-menu {
        float: left !important;
    }
    #header .topnav ul.quick-menu.pull-left {
        margin-right: 30px;
    }
    /* #header .logo {
        float: none;
        text-align: center;
    }
    .navbar-scroll-top h1.logo img {
        background: none;
        display: initial;
        padding: 0;
        width: auto;
        height: auto;
    } 
    ul.slimmenu {
        float: left;
        margin-top: 0;
        width: 100%;
    }
    ul.slimmenu.slimmenu-collapsed li > ul {
        padding-left: 0;
        height: auto !important;
    } */
    /* .navbar-scroll-top {
        position: static;
    } */
    .animatedHeadroom {
        -webkit-animation-duration: 0s;
        animation-duration: 0s;
    }
    .fadeOutUp {
        animation-name: none;
    }
    .fadeInDown {
        animation-name: none;
    }

    .search-tabs {
        display: none !important; }

    .visible-mobile .search-tabs {
        display: block !important; }

    .search-box .search-tab-content {
        float: none !important;
        width: auto !important; }

    .hidden-mobile {
        display: none !important; }
    
    [class^="col-md-"].pull-left, [class^="col-md-"].pull-right, [class*=" col-md-"].pull-left, [class*=" col-md-"].pull-right {
        float: none !important; }
    
    .tab-container .tab-pane [class^="col-md-"], .tab-container .tab-pane [class*=" col-md-"] {
        padding-left: 0;
        padding-right: 0; }
    .tab-container .tab-pane .row [class^="col-md-"], .tab-container .tab-pane .row [class*=" col-md-"], .tab-container .tab-pane [class^="col-sm-"], .tab-container .tab-pane [class*=" col-sm-"], .tab-container .tab-pane [class^="col-sms-"], .tab-container .tab-pane [class*=" col-sms-"], .tab-container .tab-pane [class^="col-xs-"], .tab-container .tab-pane [class*=" col-xs-"] {
        padding-left: 10px;
        padding-right: 10px; }

    .services-lines {
        width: 100%;
        margin-top: 30px;
    }
    .services-lines-info{
        text-align: center;
    }
    .services-lines-info p.lead .line {
      margin: 20px auto;
    }

    .attribute-itinerary {
        display: none;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-time-bar {
        display: none;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-author-container {
        left: 14px;
        margin-top: 16px;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-author-container .tweetfeed-author-img-container {
        background: none;
        box-shadow: none;
        font-size: 15px;
        height: auto;
        line-height: normal;
        text-align: inherit;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-author-container .tweetfeed-author-img-container::after {
        content: ":";
    }
    .tweetfeed-list-container .tweetfeed-item-container:hover .tweetfeed-author-img-container {
        box-shadow: none;
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-item-content-container .tweetfeed-triangle-background {
        display: none;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-item-content-container .tweetfeed-triangle {
        display: none;
    }
    .tweetfeed-list-container .tweetfeed-item-container .tweetfeed-item-content-container {
        margin-left: 0;
        position: static;
    }
    .tweetfeed-list-container .tweetfeed-item-container:hover .tweetfeed-item-content-container {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .tweetfeed-item-content h3 {
        text-indent: 52px;
    }
    
    table.tblPrice.respon_tbl, table.tblPrice.respon_tbl th, table.tblPrice.respon_tbl td {
        border: none;
    }
    .respon_tbl {
        width: 100%;
    }
    /* Force table to not be like tables anymore */
    .respon_tbl table,
    .respon_tbl thead,
    .respon_tbl tbody,
    .respon_tbl th,
    .respon_tbl td,
    .respon_tbl tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .respon_tbl thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .respon_tbl tr { border: 1px solid #ccc; }

    .respon_tbl td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align:left !important;
    }

    .respon_tbl td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        color: #333;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    .respon_tbl.checkout-tbl td:before {
        font-size: 13px;
    }
    table.checkout-tbl input[type="text"] {
        margin: inherit;
    }

    /*
    Label the data
    */
    .respon_tbl td:before { content: attr(data-title); }
    .respon_tbl td.alignment {
        text-align: left;
        vertical-align: middle;
    }

    .booking-item-review-person {
        display: block;
        height: 80px;
    }
    .booking-item-reviews > li .booking-item-review-person-avatar {
        float: left;
        margin-right: 14px;
    }
    .booking-item-reviews > li .booking-item-review-person-name {
        padding-top: 12px;
    }

    .tbl_review label {
        margin-top: 20px;
    }

    ul.twocol {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .wpb_column:nth-child(2n+1) .icon-box.style1.contact {
        margin-bottom: 20px;
    }
}
/* 6. Styles for devices(>=768px and <= 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .tab-container.full-width-style ul.tabs {
        width: 20%; }
    .tab-container.full-width-style .tab-content {
        width: 80%; }

    .view-by-destination ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    ul.fourcol {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    ul.fourcol {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 481px) and (max-width: 991px) {
    .listing-style1 > .col-md-3:nth-child(2n+1) {
        clear: both;
    }
}
@media (min-width: 381px) and (max-width: 991px) {
    .view-by-destination ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
/* 7. Styles for devices(<=767px ) */
@media (max-width: 767px) {
    /* #header .logo {
        position: absolute; 
    } */

    .breadcrumbs {
        clear: both;
        float: none !important; }

    .tab-container ul.tabs li {
        float: none;
        padding-right: 0; }
        .tab-container ul.tabs li.pull-right {
            float: none !important; }
    .tab-container ul.tabs.full-width {
        display: block; }
        .tab-container ul.tabs.full-width > li {
            display: block;
            width: auto; }
            .tab-container ul.tabs.full-width > li a {
                padding-left: 20px !important;
                text-align: left; }
    .tab-container.style1 ul.tabs li > a:after {
        display: none !important; }
    .tab-container.trans-style ul.tabs {
        margin-left: 0; }
        .tab-container.trans-style ul.tabs li {
            margin: 0; }
    .tab-container.full-width-style ul.tabs {
        width: 25%; }
    .tab-container.full-width-style .tab-content {
        width: 75%; }

    [class^="col-sm-"].pull-left, [class^="col-sm-"].pull-right, [class*=" col-sm-"].pull-left, [class*=" col-sm-"].pull-right {
        float: none !important; }

    .tab-container .tab-pane [class^="col-sm-"], .tab-container .tab-pane [class*=" col-sm-"] {
        padding-left: 0;
        padding-right: 0; }
    .tab-container .tab-pane .row [class^="col-sm-"], .tab-container .tab-pane .row [class*=" col-sm-"], .tab-container .tab-pane [class^="col-sms-"], .tab-container .tab-pane [class*=" col-sms-"], .tab-container .tab-pane [class^="col-xs-"], .tab-container .tab-pane [class*=" col-xs-"] {
        padding-left: 10px;
        padding-right: 10px; }

    .border-right {
        border-right: none;
    }

    
}
@media handheld, only screen and (max-width: 600px) {
    .services-lines li{
        width: 33.33%;
    }
}
/* 8. Styles for devices(<=480px ) */
@media (max-width: 480px) {
    .listing-style3 .box > figure, .listing-style3 .box > .details, .tour-packages.listing-style1 > .col-xs-6 {
        width: 100%;
    }
    
    .carousel-caption p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .carousel-caption h3 {
        font-size: 2.5rem;
    }
    .search-box-wrapper {
        margin-top: 0;
    }

    .services-lines li {
        width: 50%;
    }

    .tab-container.full-width-style ul.tabs {
        width: 30%; }
    .tab-container.full-width-style .tab-content {
        width: 70%; }

    .tab-container .tab-pane [class^="col-sms-"], .tab-container .tab-pane [class*=" col-sms-"] {
        padding-left: 0;
        padding-right: 0; }
    .tab-container .tab-pane .row [class^="col-sms-"], .tab-container .tab-pane .row [class*=" col-sms-"], .tab-container .tab-pane [class^="col-xs-"], .tab-container .tab-pane [class*=" col-xs-"] {
        padding-left: 10px;
        padding-right: 10px; }

    ul.fourcol {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 380px) {
    .view-by-destination ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    ul.fourcol {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/* 9. Styles for devices(<=320px ) */
@media (max-width: 320px) {
    #header .topnav ul.quick-menu.pull-left {
        display: none;
    }
    .carousel-caption {
        display: none;
    }
    .image-box.style2 figure {
        float: none;
        width: auto;
    }
    .image-box.style2 .details {
        clear: both;
        padding-left: 20px;
        text-align: justify;
    }
    .total-wrap li {
        line-height: normal;
    }

    
}
